# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# This ignores ALL node_modules folders, including root and nested ones.
node_modules/
.pnp
.pnp.js

# testing
/coverage

# production
# Specifically ignore the build folder inside the 'blogzify' project directory
blogzify/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*